/* 여기서부터 커스터마이징 */
* {
  transition: all 0.3s ease-out;
}
p {
  word-break: keep-all;
}
/* Mobile Screen */
.container {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 64px 24px;
  }
  .container_header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 96px 48px;
  }
  .container_header {
    padding-left: 48px;
    padding-right: 48px;
  }
  .container_display {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1280px !important;
    padding: 256px 0;
  }
  .container_header {
    max-width: 1280px;
    margin: 0 auto;
  }
  .container_display {
    position: absolute;
    bottom: 12.5%;
  }
}

.wrapper {
  position: relative;
}

:hover {
  transition: all 0.3s ease-out;
}

li {
  float: left;
  list-style: none;
}

.typo-title {
  word-break: keep-all;
}
.nt-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.res-mw-0 {
  max-width: 640px;
}

.btn-0 {
  transition: all 0.3s ease-out;
}

.btn-0:hover {
  background-color: white;
  color: #003af1;
}

.linear-wipe {
  background: linear-gradient(to right, #fff 20%, #00ff81 40%, #00ff81 60%, #fff 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

mark {
  background: linear-gradient(to top, #ffff00 30%, transparent 30%);
}

.tfskew {
  -moz-transform: translate(-1px, 0px) skew(63deg, -21deg);
  -webkit-transform: translate(-1px, 0px) skew(63deg, -21deg);
  -o-transform: translate(-1px, 0px) skew(63deg, -21deg);
  -ms-transform: translate(-1px, 0px) skew(63deg, -21deg);
  transform: scale(0.4) rotate(7deg) translate(-7px, 24px) skew(68deg, -33deg);
}
