/* 여기서부터 커스터마이징 */
* {
  transition: all 0.3s ease-out;
}
/* Mobile Screen */
@media screen and (max-width: 640px) {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
  }
  .wrapper {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .nt-text-box-01 {
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
  .nt-header-text {
    font-size: 48px;
    line-height: 1.25;
  }
  .nt-sub-text {
    font-size: 20px;
    line-height: 1.4;
  }
  .nt-title-text {
    font-size: 40px;
    line-height: 1.25;
  }
  .nt-title2-text {
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 24px;
  }
}

/* Tablet Screen */
@media screen and (min-width: 641px) and (max-width: 1280px) {
  .container {
    max-width: 100% !important;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
  }
  .wrapper {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .nt-header-text {
    font-size: 72px;
    line-height: 1.25;
  }
  .nt-sub-text {
    font-size: 24px;
    line-height: 1.4;
  }
  .nt-title-text {
    font-size: 64px;
    line-height: 1.25;
  }
  .nt-title2-text {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 24px;
  }
}

/* Laptop Screen */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    clear: both;
  }
  .wrapper {
    padding-top: 256px;
    padding-bottom: 256px;
  }
  .nt-text-box-01 {
    max-width: 640px;
  }
  .nt-header-text {
    font-size: 80px;
    line-height: 1.14;
  }
  .nt-sub-text {
    font-size: 24px;
    line-height: 1.6;
  }
  .nt-title-text {
    font-size: 72px;
    line-height: 1.25;
  }
  .nt-title2-text {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 24px;
  }
  .nt-img-people {
    width: auto;
    width: 660px;
    margin-top: 100px;
  }
}

#expand {
  position: absolute;
  will-change: width;
  min-width: 50%;
  height: 800px;
  left: 50%;
  transform: translateX(-50%);
}
.container-expand {
  position: relative;
}
.wrapper {
  position: relative;
}
:hover {
  transition: all 0.3s ease-out;
}

li {
  float: left;
}

.nt-sub-text {
  word-break: keep-all;
}
.nt-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.res-mw-0 {
  max-width: 640px;
}

.btn-0 {
  transition: all 0.3s ease-out;
}

.btn-0:hover {
  background-color: white;
  color: #003af1;
}
